# Ignore the following folders
bin/
*binary*/
build*/
_build/
share/doc/prevabs/_build/*
evals/
.vscode/
.vs/

# Ignore the following files
~$*
*.pos
*.K
*.ech
*.opt
*.v0
*.v1
*.v1S
*.v20
*.v21
*.v22
*.msh
*.geo
*.stackdump
*_vabs*.dat
*.sc
*.sg
*.glb
*.snm
*.fi
*.o
*.exe
*~
/*\#*
*.U
*.E
*.EM
*.EN
*.EMN
*.S
*.SM
*.SN
*.SMN
*.ELE

# Ignore specific files
test.exe

